@import "tailwindcss";

@theme {

  --color-background: hsl(var(--background));
 --color-text-primary: hsl(var(--text-primary));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-card: hsl(var(--card));
}

@layer base {
  :root {
    --background:240, 250, 255;
    --text-primary:155, 17, 50;
    --card:255, 255, 255;

    --primary:255, 120, 62;
    --primary-foreground: 255, 255, 255;

  }

  /* * {
    @apply border-border;
  } */

  html {
    @apply scroll-smooth;
  }

  /* body {
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  } */
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px;
  }
  @media (width >= 1280px) {
    max-width: 1280px;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility card-hover {
  @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
}


#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}